@import "../../Style/Variables.scss";

.CardContainer {
  display: block;
  flex: 0 32%;
  height: 400px;
  max-width: 300px;
  margin: 2%;
  background-color: transparent;
}
.FlipCard {
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 1000px;
}
.PortfolioCard {
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 1);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;

  .CardText {
    color: $baseGold;
    width: 100%;
    height: calc(100%-20px);
    padding-top: 20px;
    background-size: inherit;
    background-color: rgba($color: #000000, $alpha: 0.2);
    h3 {
      background-color: rgba($color: #000000, $alpha: 0.4);
      padding: 20px 20px;
      margin-top: 0;
    }
  }
}

.CardBack {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 1);
  color: whitesmoke;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.CardContainer:hover .PortfolioCard {
  transform: rotateY(180deg);
}
.CardContainer:hover .CardBack {
  transform: rotateY(0deg);
}
