.PortfolioCard {
  display: block;
  flex-basis: 26%;
  height: 120px;
  width: 120px;
  margin: 10px 15px;
  background-color: grey;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  //   background-image: url(../../Images/cropped-logoglat-small.png);
}
